{% extends "layout.html" %}
{% block body %}
<h1 id="page_title">{{ verses|length }} search results for "{{ query }}"</h1>
<table border='0' class="tablecomparison table-striped">
{% for verse in verses %}
	<tr><td style="border-bottom: 2px solid black;" valign="top" align="right" rowspan="2">{{ loop.index }})</td>
    <td valign="top">{{ verse[0][0] }} <br>
    <a href="{{ url_for('.listtranslation',full=g.full,translation=text1) }}"><kbd title="{{ text1 }}">{{ text1|truncate(3,killwords=True,end='') }}</kbd></a>
    </td>
    <td valign="top">
	{{ verse[0][1] }} </td>
	

    <td valign="middle" style="border-bottom: 2px solid black;" rowspan="2"><a href="{{ url_for('.compare', full=g.full, translation1=text1, translation2=text2, verse=verse[0][0]) }}" class="btn btn-primary btn-xs" role="button">Compare</a></td>
	</tr>
	<tr class="translation">
	<td valign="top">{{ verse[1][0] }} <br>
	<a href="{{ url_for('.listtranslation',full=g.full,translation=text2) }}">
        <kbd title="{{ text2 }}">{{ text2|truncate(3,killwords=True,end='') }}</kbd>
    </a>
	</td>
	
	<td valign="top"> {{ verse[1][1] }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}