{% extends "layout.html" %}
{% block includefiles %}
		<link rel="stylesheet" 
		href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="/static/d3/d3.min.js" charset="utf-8"></script>
		<script src="/static/d3/topojson.js"></script> 
{% endblock %}
{% block body %}
<h1 id="page_title">Parallel Bible Corpus</h1>

	
<div id="map" title="Use mousewheel or double click to zoom"></div> 
<div id='search' class="ui-widget">
	<label>Search for language: </label>
	<input type='text' id='searchfield' size="30">
	<button id='resetmap'>Reset map</button>
</div>
<div id='draggable' class="ui-widget-content">
	<div id="close" class='hidden' title="Close window"></div>
	<div id="info" class='hidden'></div>
</div>
	
	
<p>The first version of our Bible corpus contains 994 unique
	translations, which have been assigned 837 different ISO-639-3
	codes. The areal distribution of the languages in the corpus is
	shown in the map above. If you mouse over a language location or 
	search for a particular language in the search box, you will get
	information on the number of translations for this language 
	in a info box. You can freeze the
	information by clicking on the language location. If you click on 
	a text in the info box, you get a free sample of the book of Mark
	(if available in that translation) as plain text. An alphabetic list
	of all available translations can be found <a href="/all/">here</a>. 
	The full package including the word form and mtx files will 
	be available soon. 
</p>
<p>
	In the 994 translations we found 41,964 different verse numbers 
	(including apocrypha books that are not in the biblical canon of 
	the 66 books). This number is much higher than the 31,102 verses 
	that make up the King James Version. Some verses only occur in a 
	very small number of languages. The verse that is most widely 
	available in the texts is Mark 1:7, which has entries in 976 
	translations.
	
</p>
<p>
	The number of verses per translation varies widely. The average 
	number of verses per translation is 10,707 (with a standard 
	deviation of 7,727 verses). The largest number of verses (36,986) 
	is in the text of the English King James Version, which includes 
	many apocrypha books. The smallest number of verses can be found 
	in the text for the Papua New Guinea language Wedua [wed], which 
	lists only 677 verses.

	The average number of words per translation is 408,973 (standard 
	deviation: 367,572). The average vocabulary size (number of types) 
	is 21,176 (standard deviation: 15,134). The number of words and 
	the size of the vocabulary for each text of course varies with 
	the number of verses that are available and with the writing 
	system. 
</p>
	

<script src="/static/scripts/map.js" type="text/javascript"></script>
{% endblock %}