<!DOCTYPE html> 
<head> 
	<title>Parallel Bible Corpus</title>  
    <meta charset="utf-8"> 
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    {% block robots %}
    <meta name="robots" content="noindex,nofollow" />
    {% endblock %}
    {% block includefiles %}
    {% endblock %}

		
		
		<style> 
			.background {
			  fill: none;
			  pointer-events: all;
			}
		</style> 


    
</head> 
<body> 
    
	<div style="position: fixed; top: 20px; ">
		<div style="background-color: #F3F3F3;
			background-image:url(/static/images/page-fade.png); 
			background-repeat: repeat-x; width: 160px;
			border-right: thin solid #C0C0C0;" >
	
			<div style="position: relative; left: 11px; top: -6px;" >
				<img src="/static/images/PllT_trans.png">
			</div>
		</div>
	
		<div style="background-color: #F3F3F3;
			background-image:url(/static/images/page-fade-down.png); 
			background-repeat: repeat-x; 
			background-position:bottom; 
			width: 160px;
			border-right: thin solid #C0C0C0; 
			padding-bottom: 30px;">
			&nbsp;
			
			<div style="position: relative; left: 10px; margin-top: -20px;">
				<ul id="nav">
					<li class="data">
						<a href="/{{ g.full }}" title="Parallel Bible Corpus">
						Parallel Bible Corpus</a>
					</li>
					<li class="data">
						<a href="/{{ g.full }}all/" 
						title="Parallel Bible Corpus">
						List of all translations
						</a>
					</li>
					<li class="data">
						<!--<a href="http://paralleltext.info/data/browse/" 
						title="Parallel Bible Corpus">
						Search
						</a>-->
					</li>
					<li class="current  index">
						<a href="http://paralleltext.info/" title="Parallel Text Website">
						Paralleltext.info</a>
					</li>
				</ul>
	
				<div style="position:relative; margin: 10 auto; ">
					<a href="http://www.uni-marburg.de/">
					<img src="/static/images/PhUniMa_Logo_sw.svg" width="140">
					</a><br><br>
					<a href="http://www.dfg.de"><img src="/static/images/dfg_logo_schriftzug_schwarz.png" width="140">
					</a>
	
				</div>
			</div>
		</div>
	</div>
	<!-- end navigation bar -->
	
	<div id="window" style="position:absolute; left: 160px; top: 10px;">
		<div id="container">
			<div id="main">
				<div id="outer-prettification">
					<div id="inner-prettification">
						<div id="header">
	
							<h1 id="title"><a href=""></a></h1>
	
						</div>
						<div id="contents">
							{% block body %}{% endblock %}
	
						</div>
						<div id="footer">
							<p> <a href="http://paralleltext.info">paralleltext.info</a></p>
	
							<!-- You can do whatever you like here -->
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
