{% extends "layout.html" %}
{% block body %}
{% autoescape false %}
<h1 id="page_title">{{ info[4][1] }} ({{ translation }})</h1>
{% endautoescape %}

<h3>Information on Bible translation:</h3>

<table>
{% autoescape false %}
{% for inf in info %}
	{% if inf[0] == "URL" %}
		<tr><td valign="top" style='text-transform: capitalize;'>{{ inf[0] }}</td>
		<td><a href='{{ inf[1] }}'>{{ inf[1] }}</a></td></tr>
	{% else %}
		<tr><td valign="top" style='text-transform: capitalize;'>{{ inf[0] }}</td>
		<td>{{ inf[1] }}</td></tr>
	{% endif %}
{% endfor %}
{% endautoescape %}
</table>

<h3>Links: </h3>
<ul>
	{% if books|length == 0 %}
		<li><a href='/{{ g.full }}{{ translation }}/41/'>sample text (Gospel according to Mark)</a></li>
		<li><a href='/{{ g.full }}{{ translation }}.zip'>zip data package</a></li>
	{% else %}
		<li>Available books: <br>
		{% for book in books %}
			{% if loop.index % 10 == 0 %}
				<a href='/{{ g.full }}{{ translation }}/{{ book }}/'> {{ book }} </a> |
				<br>
			{% else %}
				<a href='/{{ g.full }}{{ translation }}/{{ book }}/'> {{ book }} </a> |
			{% endif %}
		{% endfor %}
		</li>
		<li><a href='/{{ g.full }}{{ translation }}.txt'>text file</a></li>
	{% endif %}
</ul>
{% endblock %}