{% extends "layout.html" %}
{% block body %}
<h1 id="page_title">
	<a href="{{ url_for('.listtranslation', full=full, translation=translation) }}">{{ translation }}</a>
	<a href="{{ url_for('.listbook', full=full, translation=translation, book=book) }}">{{ book }}</a>
	<a href="{{ url_for('.listchapter', full=full, translation=translation, book=book, chapter=chapter) }}">{{ chapter }}</a>:{{ verse }}
</h1>

<table>
<tr><td valign="top">{{ book }}{{ chapter }}{{ verse }}:</td><td> {{ versetext }}</td></tr>
</table>
{% endblock %}
