########## CONSTANTS ##########
BIBLEPATH = '/var/www/paralleltext.info/data/parasite/static/files/bible_corpus/corpus/'
DATAPACKAGEPATH = '/var/www/paralleltext.info/data/parasite/static/files/zipfiles/'

PROJDESCFILE = "../datapackage_metadata/project_description-13-11-14.txt"
PACKAGESTRINGFILE = '../datapackage_metadata/packagestring.txt'
READMESTRINGFILE = '../datapackage_metadata/readmestring.txt'
VERSENAMES = '/var/www/paralleltext.info/data/parasite/static/files/bible_corpus/versenames-v3.txt'
