########## CONSTANTS ##########
DATAPATH = '../output/'
BIBLEPATH = '../biblefiles/'
#RAWPATH = DATAPATH + 'raw/'
MATRIXPATH = DATAPATH + 'matrices/'
WORDFORMSPATH = DATAPATH + 'wordforms/'
DATAPACKAGEPATH = DATAPATH + 'datapackages/'
#HEADERPATH = DATAPATH + 'headerfiles/'
#CHAROVERVIEWPATH = DATAPATH + 'charoverview/'
#CHARREGEXPATH = DATAPATH + 'charregex/'
#CORPUSPATH = DATAPATH + 'clean/'

VERSION = 'v1'

METADATAFILE = "../datapackage_metadata/metadata-13-11-26.csv"
PROJDESCFILE = "../datapackage_metadata/project_description-13-11-14.txt"
PACKAGESTRINGFILE = '../datapackage_metadata/packagestring.txt'
READMESTRINGFILE = '../datapackage_metadata/readmestring.txt'
VERSENAMES = '../datapackage_metadata/versenames-v2.txt'
